<ul>
  <% categories.each do |category, children| %>
    <li>
      <%= link_to category.name, category %>
      <%= render 'shared/submenu_categories', categories: children if children.present? %>
    </li>
  <% end %>
</ul>